
ul{
    position: relative;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    margin: 10px;
}

ul li .icone{
    background: cadetblue;
    position: relative;
    width: 80px;
    height: 80px;
    
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: beige;
    font-size: 2em;
    overflow: hidden;
}

ul li .icone:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

ul li .icone::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255,0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

ul li .icone:hover::before{
    transform: skewX(45deg) translateX(-150px);
   
}